.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  &:nth-child(2) {
    flex-direction: row-reverse;
  }
  @media (max-width: 1055px) {
    flex-direction: column;
  }
}

.imgWrap {
  max-width: 600px;
  border-radius: 30px;
  overflow: hidden;
  border: 3px solid var(--accent-color);
}

.info {
  display: grid;
  gap: 30px;
  text-align: center;
  background-color: #fdfdfd;
  padding: 20px;
  border-radius: 30px;
}

.cardTitle {
  font-size: 24px;
  font-weight: 600;
}

.desc {
  font-size: 18px;
}

.deployments {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

  @media (max-width: 435px) {
    flex-direction: column;
    gap: 20px;
  }
}

.deployment {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 20px;
  border: 1px solid black;
  background-color: #fff;
  padding: 15px;
  border-radius: 30px;
  transition: all 0.2s ease-in;

  &:hover {
    transform: scale(1.1);
  }
}

.rowReverse {
  flex-direction: row-reverse;
  @media (max-width: 1055px) {
    flex-direction: column;
  }
}
