.header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 26px;
  font-weight: 800;
  @media (max-width: 449px) {
    font-size: 23px;
  }
}

.list {
  display: flex;
  align-items: center;
  gap: 30px;

  font-size: 20px;
  @media (max-width: 449px) {
    gap: 15px;
  }
}

.list__item {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: #22abb4;
    bottom: 0;
    transition: all 0.2s ease-in;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }

  @media (max-width: 449px) {
    font-size: 18px;
  }
}
